@import "../styles/variables.scss";

.home_page {
  @include flex_column;
  align-items: center;

  .buttons {
    @include flex_row_all_center;
    gap: 20px;
    a {
      align-self: center;
      font-size: 20px;
    }
  }
}
